p {
  color: red;
}

h3 {
  color: blue;
}

a {
  background-color:green;
}

#parrafo3 {
  color: green;
}

.parrafoGris {
  color: gray;
}

.parrafoNegro {
  color: black;
}

.textoAzul {
  color: blue;
}

.fondoRojo {
  background-color: red;
}

.fondoAmarillo {
  background-color:rgb(rgb(229, 255, 0), rgb(115, 128, 0), rgb(187, 255, 0));
}

.textoGrandeNegrita {
  font-size: x-large;
  font-weight: 900;
  font-style: normal;
  font-family: arial, helvetica, sans-serif;
}

.imagenPequeña {
  height: 200px;
  width: 100px;
}

.parrafoAngosto {
  width: 350px;
  height: 5px;
}

.contenedorConMargen {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 1px solid red;
  padding: 10px;
}

.contenedorDivs {
  border: 2px solid green;
  display: grid;
  grid-column: auto;
  grid-template-rows: 50px 50px;
  grid-template-columns: 30% 30% 40%;
}

.divTest {
  border: 1px solid red;
  height: 50px;
}

.contenedorDivsFlex {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  align-items: center;
}
